{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h4>
                Strona lub element, którego szukasz nie istnieje.
            </h4>
        </div>
    </div>
{% endblock %}

